{% extends 'admin.base' %}
{% block title %}Eduroam - {{ site_name }}{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-md-6">
      {{ config|raw }}
    </div>
  </div>
{% endblock %}