<div class="input-group mb-3" id="chsi-toggle-wrapper">
  <button class="btn btn-block bg-light border-secondary" type="button" onclick="location.href='/auth/register/eduroam';">{{ trans('Blessing\\Eduroam::eduroam.front-end.register.goto-eduroam') }}</button>
</div>