<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="{{ trans('front-end.auth.nickname') }}" name="nickname" required>
  <div class="input-group-append">
    <div class="input-group-text">
      <span class="fas fa-gamepad"></span>
    </div>
  </div>
</div>