<div class="input-group mb-3" id="chsi-toggle-wrapper">
  <button class="btn btn-block bg-light border-secondary" type="button" onclick="location.href='/auth/register';">{{ trans('Blessing\\Eduroam::eduroam.front-end.eduroam.return-register') }}</button>
</div>